# OS
.DS_Store
Thumbs.db

# backup
*.bak
*.ori
*.orig
*.tmp

# IDE
.idea/
.vscode/
.history/
*.vsix

# logs
logs
*.log
npm-debug.log*

# generated content
build/

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# optional NPM cache directory
.npm

# optional eslint cache
.eslintcache

# optional stylelint cache
.stylelintcache

# optional REPL history
.node_repl_history

# output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.*
.env-*
# environment variables templates with dummy values
!client/.env
!server/.env
